.program{
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.programTit{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}