<div class="narbavIndex">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" id="MobileN">
                <img src="/assets/img/logo.png" width="100px" style="padding: 10px;">
            </a>
        </div>

        {% if session['logged_in'] %}
        <div>
            <div class="navRight">
                <div id="btnAccount">
                    <a class="liNav" href="/account"> HIEUHOANG </a>
                </div>
            </div>
        </div>
        {% else %}
        <div style="display: block;">
            <div class="navRight">
                <div id="btnSignupNav">
                    <a class="btnSignupNav" href="/signup">ĐĂNG KÝ</a>
                </div>
            </div>
            <div class="navRight">
                <div id="btnLogin">
                    <a class="liNav" href="/login">ĐĂNG NHẬP</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>


