{% block head %}
<title>{{ page_title }} | We know We share</title>
<meta charset="utf-8">    <meta name="viewport" content="initial-scale=1.0">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
{% for x in css_file %}
<link rel="stylesheet" type="text/css" href="/assets/css/{{x}}.css">
{% endfor %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800" rel="stylesheet">

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 70%;
          width:80%;
          margin: auto;
          top: 110px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
{% endblock %}