{% extends "base_template.html" %}

{% block content %}

    <div class="containerBg">
        <div class="container">
            <!--Title-->
            <center>
                <div class="row">
                    <div id="title">Hộp thư</div>
                </div>
            </center>
            <!--Detail-->
            <div class="row" style="margin-bottom: 50px;">
                <div class="col-md-4 chooser" style="padding: 5px 0; margin-bottom: -99999px; padding-bottom: 99999px;">
                    <a href="">
                        <div class="alumni">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="ava" style="width: 40px; height: 40px;"></div>
                                </div>
                                <div class="cold-md-9">
                                    Hoàng Trung Hiếu
                                    <div class="inboxSub">
                                        Bạn: Cảm ơn anh nhiều ạ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="alumni alumniSelected">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="ava" style="width: 40px; height: 40px;"></div>
                                </div>
                                <div class="cold-md-9">
                                    Đỗ Thành Nhơn
                                    <div class="inboxSub">
                                        Bạn: Dạ em cảm ơn anh
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="alumni">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="ava" style="width: 40px; height: 40px;"></div>
                                </div>
                                <div class="cold-md-9">
                                    Đỗ Hữu Nhật Nguyên
                                    <div class="inboxSub">
                                        Nguyên: Chúc em may mắn
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-8 inboxContent" style="margin-bottom: -99999px; padding-bottom: 99999px;">
                    <div class="row inboxTit">
                        <div class="col-md-6 inboxTit-text">
                            Hoàng Trung Hiếu
                        </div>
                        <div class="col-md-6" id="moreInfo">
                            <a href="" onclick="return false;">
                                <span id="btnMore" class="glyphicon glyphicon-info-sign" style="padding: 20px; float: right; color: white; text-decoration: none;"></span>
                                <span id="btnLess" class="glyphicon glyphicon-info-sign" style="padding: 20px; float: right; color: white; text-decoration: none;"></span>
                            </a>
                        </div>
                        <!--Info-->
                        <div id="info" class="info">
                            <center>
                                <div class="ava" style="margin-top: 30px; width: 150px; height: 150px;"></div>
                            </center>
                            <div class="alName">Hoàng Trung Hiếu</div>
                            <!--Detail-->
                            <div>
                                <div class="row">
                                    <div class="col-md-6 alDetail">
                                        <div class="row" height="55px" style="padding: 5px;">
                                            <div class="col-md-4">
                                                <span class="glyphicon glyphicon-calendar alDetailPic"></span>
                                            </div>
                                            <div class="cold-md-8" style="padding-top: 10px;">
                                                <div class="alDetailTit">Ngày sinh</div>
                                                <div>21/12/1997</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 alDetail">
                                        <div class="row" height="55px" style="padding: 5px;">
                                            <div class="col-md-4">
                                                <span class="glyphicon glyphicon-heart alDetailPic"></span>
                                            </div>
                                            <div class="cold-md-8" style="padding-top: 10px;">
                                                <div class="alDetailTit">Sở thích</div>
                                                <div>Nhảy múa, hát hò</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 alDetail">
                                        <div class="row" height="55px" style="padding: 5px;">
                                            <div class="col-md-4">
                                                <span class="glyphicon glyphicon-briefcase alDetailPic"></span>
                                            </div>
                                            <div class="cold-md-8" style="padding-top: 10px;">
                                                <div class="alDetailTit">Trường</div>
                                                <div>Đại học Khoa học tự nhiên, ĐHQG-HCM</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 alDetail">
                                        <div class="row" height="55px" style="padding: 5px;">
                                            <div class="col-md-4">
                                                <span class="glyphicon glyphicon-blackboard alDetailPic"></span>
                                            </div>
                                            <div class="cold-md-8" style="padding-top: 10px;">
                                                <div class="alDetailTit">Ngành</div>
                                                <div>Công nghệ thông tin</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 alDetail">
                                        <div class="row" height="55px" style="padding: 5px;">
                                            <div class="col-md-4">
                                                <span class="glyphicon glyphicon-eye-open alDetailPic"></span>
                                            </div>
                                            <div class="cold-md-8" style="padding-top: 10px;">
                                                <div class="alDetailTit">Mức độ am hiểu</div>
                                                <div>200%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 alDetail">
                                        <div class="row" height="55px" style="padding: 5px;">
                                            <div class="col-md-4">
                                                <span class="glyphicon glyphicon-star alDetailPic"></span>
                                            </div>
                                            <div class="cold-md-8" style="padding-top: 10px;">
                                                <div class="alDetailTit">Đánh giá</div>
                                                <div id="rate">
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star-empty"></span>
                                                    <span class="glyphicon glyphicon-star-empty"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!--Contact-->
                            <div style="margin-bottom: 30px;" class="alDetail">
                                <div class="alDetailTit" style="text-align: center; margin-bottom: 20px;">Liên hệ</div>
                                <div class="row" style="text-align: center; padding: 5px;" height="55px">
                                    <div class="col-md-4">
                                        <span class="glyphicon glyphicon-earphone alDetailPic"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="glyphicon glyphicon-envelope alDetailPic"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="glyphicon glyphicon-comment alDetailPic"></span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!--Rating-->
                            <div style="margin-bottom: 30px;" class="alDetail">
                                <div class="alDetailTit" style="text-align: center; margin-bottom: 20px;">ĐÁNH GIÁ</div>
                                <div class="row" style="text-align: center; padding: 5px;" height="55px">
                                    <div class="col-md-12">
                                        <span class="glyphicon glyphicon-star" style="font-size: 50px;"></span>
                                        <span class="glyphicon glyphicon-star" style="font-size: 50px;"></span>
                                        <span class="glyphicon glyphicon-star" style="font-size: 50px;"></span>
                                        <span class="glyphicon glyphicon-star-empty" style="font-size: 50px;"></span>
                                        <span class="glyphicon glyphicon-star-empty" style="font-size: 50px;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="msg" class="row" style="height: 500px; overflow-y: scroll; position: relative;">
                        <div style="position: absolute; bottom: 10px;">
                            <div class="row msgGroup" style="position: relative;">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <div class="receiver">
                                        hhfksgkjsdghsadfdsahfbeayfgewiufeyfyefyefyfyuhuheucdgkjfgdjfdgajfgdjgfjshgfhj
                                    </div>
                                    <div class="receiver">
                                        Hi em!
                                    </div>
                                </div>
                            </div>
                            <div class="row msgGroup" style="position: relative;">
                                <div class="col-md-8">
                                    <div class="sender">
                                        Anh ơi cho em hỏi
                                    </div>
                                    <div class="sender">
                                        Chào anh!
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                    <div id="input" class="row inboxTit">
                        <div class="col-md-11 inboxTit-text">
                            <form>
                                <input type="text" placeholder="Nhập tin nhắn...">
                            </form>
                        </div>
                        <div class="col-md-1" style="padding-top: 25px; padding-right: 50px;">
                            <span class="glyphicon glyphicon-send" style="font-size: 20px"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#menuAccount").hide();
            $("#btnLess").hide();
            $("#info").hide();
            $("#menuAccount").hover(function () {
                $("#menuAccount").show();
            }, function () {
                $("#menuAccount").hide();
            });
            $(".navRight").hover(function () {
                $("#menuAccount").show();
            }, function () {
                $("#menuAccount").hide();
            });
            $("#btnMore").click(function () {
                $("#info").fadeIn();
                $("#btnLess").show();
                $("#btnMore").hide();
                $("#input").fadeOut();
                $("#msg").fadeOut();
            });
            $("#btnLess").click(function () {
                $("#info").fadeOut();
                $("#btnLess").hide();
                $("#btnMore").show();
                $("#input").fadeIn();
                $("#msg").fadeIn();
            });
        })
    </script>


{% endblock %}