{% include "head.html" %}
{% block body %}
{% include "header.html" %}

<div class="containerBg">
    <div class="container">
        <!--Title-->
        <div class="row">
            <div class="col-md-6">
                <div id="title">Chọn ngành</div>
            </div>
            <div class="col-md-6">
                <button class="next" style="display: none;">
                    CHỌN TRƯỜNG
                    <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
        </div>
        <!--Major-->
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-md-4 chooser" style="padding: 5px 0; margin-bottom: -99999px; padding-bottom: 99999px;">
                <div class="groupChooser">Công nghệ</div>
                <div class="groupSelected">Y tế</div>
                <div class="groupChooser">Xây dựng</div>
            </div>
            <div class="col-md-8 majorChooser" style="margin-bottom: -99999px; padding-bottom: 99999px;">
                <div id="searchBox" class="searchBox">
                    <input placeholder="Tìm kiếm"
                           style="background-color: rgba(255, 255, 255, 0); border: 0px; width: 95%;">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="major">
                            <img src="assets/img/major/thumbnail.png" height="150px">
                            <div style="padding: 10px">Y học cổ truyền</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="major">
                            <img src="assets/img/major/thumbnail.png" height="150px">
                            <div style="padding: 10px">Y sĩ đa khoa</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="major">
                            <img src="assets/img/major/thumbnail.png" height="150px">
                            <div style="padding: 10px">Bác sĩ</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="major">
                            <img src="assets/img/major/thumbnail.png" height="150px">
                            <div style="padding: 10px">Điều dưỡng</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="major">
                            <img src="assets/img/major/thumbnail.png" height="150px">
                            <div style="padding: 10px">Dược</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.get("/api/listOfUniversity", function (data) {
            console.log(data)
        }, "json");

        $.get("/api/listOfFalcuty", function (data) {
            console.log(data)
        }, "json");
    })
</script>
{% include "footer.html" %}
{% endblock %}