{% extends "base_template.html" %}
{% block content %}
<div class="containerBg">
    <div class="container">
        <table class="seperatorNgangInfo" style="display: inline-block; padding-left: 300px; margin-top: 30px;">
                <tr>
                    <td id="processing" class="chiTietGH doneGH">
                        <span class="glyphicon glyphicon-briefcase" style="font-size: 30px; padding: 2.5px;"></span>
                    </td>
                    <td id="psConnector">
                        <div class="ctghConnector notdoneGH">
                        </div>
                    </td>
                    <td id="shipping" class="chiTietGH notdoneGH">
                        <span class="glyphicon glyphicon-education" style="font-size: 30px; padding: 2.5px;"></span>
                    </td>
                    <td id="psConnector">
                        <div class="ctghConnector notdoneGH">
                        </div>
                    </td>
                    <td id="shipping" class="chiTietGH notdoneGH">
                        <span class="glyphicon glyphicon-ok" style="font-size: 30px; padding: 2.5px;"></span>
                    </td>
                </tr>
            </table>
            <table class="seperatorNgangInfo" style="display: inline-block; padding-left: 300px; margin-bottom: 20px; text-align: center;">
                <tr style="margin: auto;">
                    <td width="60px" style="padding: 0px;" class="chiTietGHText doneGHText">
                        Chọn ngành
                    </td>
                    <td width="185px"></td>
                    <td width="60px" style="padding: 0px;" class="chiTietGHText notdoneGHText">
                        Chọn trường
                    </td>
                    <td width="185px"></td>
                    <td width="65px" style="padding: 0px;" class="chiTietGHText notdoneGHText">
                        Kết quả
                    </td>
                </tr>
            </table>
            <center>
                    <content>Hãy chọn một ngành mà bạn quan tâm!</content>
            </center>
        <!--Title-->
        <div class="row">
            <div class="col-md-6">
                <div id="title">Chọn ngành</div>
            </div>
            <div class="col-md-6">
                <button class="next" style="display: none;">
                    CHỌN TRƯỜNG
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
        <!--Major-->
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-md-4 chooser" style="padding: 5px 0; margin-bottom: -99999px; padding-bottom: 99999px;">
            </div>
            <div class="col-md-8 majorChooser" style="margin-bottom: -99999px; padding-bottom: 99999px;">
                <div id="searchBox" class="searchBox">
                    <input placeholder="Tìm kiếm"
                           style="background-color: rgba(255, 255, 255, 0); border: 0px; width: 95%;">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        var chooser = [];
        var listMajor;
        var listLinkToUniversity;

        $.get("/api/listOfUniversity", function (data) {
            console.log(data)
        }, "json");

        $.get("/api/linkToUniversity", function (data) {
            listLinkToUniversity = data;
        }, "json");

        $.get("/api/listOfFalcuty", function (data) {
            let major = $($('div.chooser')[0]);
            listMajor = data;
            for (let i = 0; i < data.length; i++) {
                let temp = "<div class='groupChooser'>" + data[i][0] + "</div>";
                chooser.push(data[i][0]);
                major.append(temp);
            }
        }, "json").done(function () {
            $('.groupChooser').on("click", function () {
                let text = $(this).text();
                let mainMajor = $('.majorChooser .row')[0];
                $(mainMajor).empty();
                let index = chooser.indexOf(text);
                for (let i = 1; i < listMajor[index].length; i++) {
                    let temp =
                        "<a href=\"/nganh/" + listLinkToUniversity[index][i] + "\"><div class='col-md-6'><div class='major'><img src='assets/img/"+listLinkToUniversity[index][i]+".jpg' height='150px'><div>" +
                        listMajor[index][i] + "</div></div></div></a>";
                    $(mainMajor).append(temp);
                }
            })
        });
    })
</script>
{% endblock %}