{% extends "base_template.html" %}

{% block content %}

{% if session['logged_in'] %}
<div class="container text-center">
    <p>You're logged in already!</p>
</div>
{% else %}
<!--
    <form class="form-signin" action="/register" method="POST">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt="" width="72"
             height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="username" name="username" id="inputEmail" class="form-control" placeholder="Username" required
               autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
<div class="narbavIndex">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="./index.html" id="MobileN">
                <img src="./assets/img/logo.png" width="100px" style="padding: 10px;">
            </a>
        </div>
        <div style="display: block;">
            <div class="navRight">
                <div id="btnSignupNav">
                    <a class="btnSignupNav" href="./signup.html">ĐĂNG KÝ</a>
                </div>
            </div>
            <div class="navRight">
                <div id="btnLogin">
                    <a class="liNav" href="./login.html">ĐĂNG NHẬP</a>
                </div>
            </div>
        </div>
        <div style="display: none;">
            <div class="navRight">
                <div id="btnAccount">
                    <a class="liNav" href="./account.html">ĐỖ HỮU NHẬT NGUYÊN</a>
                </div>
            </div>
        </div>
    </div>
</div>-->
<div class="containerBg">
        <div class="container">
            <div id="intro" style="text-align: center; margin-top: 50px;">
                <div id="title">Đăng ký</div>
                <div id="des">Vui lòng đăng ký để tiếp tục</div>
            </div>
            <div>
                <form id="formLogin" action="/register" method="POST">
                    <div class="row container">
                        <div class="col-md-6">
                            <div>TÊN THẬT</div>
                            <input type="text" id="inputName" name="name" placeholder="Tên thật người dùng">
                        </div>
                        <div class="col-md-6">
                            <div>NGÀY SINH</div>
                            <input type="text" id="inputBirthday" name="dateOfBirth" placeholder="Nhập ngày sinh">
                        </div>
                    </div>
                    <div class="row container">
                        <div class="col-md-6">
                            <div style="margin-top: 20px;">TÊN ĐĂNG NHẬP</div>
                            <input type="text" name="username" id="inputUserName" placeholder="Tên người dùng">
                        </div>
                        <div class="col-md-6">
                            <div style="margin-top: 20px;">EMAIL</div>
                            <input type="text" name="email" id="inputEmail" placeholder="Nhập email">
                        </div>
                    </div>
                    <div class="row container">
                        <div class="col-md-6">
                            <div style="margin-top: 20px;">MẬT KHẨU</div>
                            <input type="password" name="password" id="inputPassword" placeholder="Nhập mật khẩu">
                        </div>
                        <div class="col-md-6">
                            <div style="margin-top: 20px;">NHẬP LẠI MẬT KHẨU</div>
                            <input type="password" id="inputRetype" placeholder="Nhập lại mật khẩu">
                        </div>
                    </div>
                    <div class="row container">
                        <div class="col-md-6">
                            <div style="margin-top: 20px;">SỐ ĐIỆN THOẠI</div>
                            <input type="text" name="phoneNumber" id="inputPhone" placeholder="Nhập số điện thoại">
                        </div>
                        <div class="col-md-6">
                            <div style="margin-top: 20px;">FACEBOOK</div>
                            <input type="text" name="socialNetwork" id="inputFb" placeholder="Nhập facebook">
                        </div>
                    </div>
                    <div class="row container">
                        <div class="col-md-12">
                            <div style="margin-top: 20px;">ĐỊA CHỈ</div>
                            <input type="text" name="address" id="inputLocation" style="width: 96%;" placeholder="Nhập địa chỉ của bạn">
                        </div>
                    </div>
                    <div class="row container">
                        <div class="col-md-6">
                            <div style="margin-top: 20px;">LOẠI NGƯỜI DÙNG</div>
                            <select id="inputUserType" name="userType">
                                <option value="consultee">Học sinh/Phụ huynh</option>
                                <option value="consultor">Cựu học sinh</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <div style="margin-top: 20px;">TRƯỜNG CẤP 3</div>
                            <input type="text" name="highSchool" id="inputHighSchool" placeholder="Nhập tên trường cấp 3">
                        </div>
                    </div>
                    <div class="row container">
                        <div class="col-md-6">
                            <div style="margin-top: 20px;">MỨC HỌC PHÍ CÓ THỂ CHI TRẢ (theo năm)</div>
                            <select name="price" id="inputInheritance">
                                <option value="1">Dưới 8 triệu / năm</option>
                                <option value="2">Từ 8 đến 12 triệu / năm</option>
                                <option value="3">Từ 12 đến 20 triệu / năm</option>
                                <option value="4">Trên 20 triệu / năm</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <div style="margin-top: 20px;">Ý ĐỊNH DU HỌC</div>
                            <select name="studyAbroad" id="inputStudyAbroad">
                                <option value="1">Có</option>
                                <option value="0">Không</option>
                            </select>
                        </div>
                    </div>
                    <div class="row container">
                        <div class="col-md-6">
                            <div style="margin-top: 20px;">KHỐI THI</div>
                            <select name="grade" id="inputGrade">
                                <option value="1">A00</option>
                                <option value="2">A01</option>
                                <option value="3">B00</option>
                                <option value="4">C01</option>
                                <option value="5">D01</option>
                                <option value="6">A03</option>
                                <option value="7">V01</option>
                                <option value="8">T05</option>
                                <option value="9">V01</option>
                                <option value="10">N01</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <div style="margin-top: 20px;">MỨC ĐỘ AM HIỂU</div>
                            <select name="masterLevel" id="inputMasterLevel">
                                <option value="1">Sinh viên năm 1-2</option>
                                <option value="2">Sinh viên năm 3-4</option>
                                <option value="3">Đã tốt nghiệp khoảng 2 năm</option>
                                <option value="4">Đã tốt nghiệp trên 2 năm</option>
                            </select>
                        </div>
                    </div>
                    <div class="row container">
                        <div class="col-md-6">
                            <div style="margin-top: 20px;">CHUYÊN NGÀNH</div>
                            <input type="text" id="inputFaculty" placeholder="Nhập chuyên ngành của bạn">
                        </div>
                        <div class="col-md-6">
                            <div style="margin-top: 20px;">TRƯỜNG ĐẠI HỌC</div>
                            <input type="text" id="inputUniversity" placeholder="Nhập trường đại học của bạn">
                        </div>
                    </div>
                    <div>
                        <button class="btnSignup" type="submit">ĐĂNG KÝ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function () {
        let understanding = $("#inputMasterLevel")[0];
        let faculty = $("#inputFaculty")[0];
        let university = $("#inputUniversity")[0];
        let grade = $("#inputGrade")[0];
        $(understanding).hide();
        $($(understanding).siblings()[0]).hide();

        $(faculty).hide();
        $($(faculty).siblings()[0]).hide();

        $(university).hide();
        $($(university).siblings()[0]).hide();

        $($(grade).parent()[0]).removeClass('col-md-6').addClass('col-md-12');
    });

    $('#inputUserType').on("change", function () {
        let grade = $("#inputGrade")[0];
        let understanding = $("#inputMasterLevel")[0];
        let faculty = $("#inputFaculty")[0];
        let university = $("#inputUniversity")[0];

        if ($(this).val() == "consultee") {
            $(understanding).hide();
            $($(understanding).siblings()[0]).hide();

            $(faculty).hide();
            $($(faculty).siblings()[0]).hide();

            $(university).hide();
            $($(university).siblings()[0]).hide();

            $($(grade).parent()[0]).removeClass('col-md-6').addClass('col-md-12');
        } else if ($(this).val() == "consultor") {
            $(understanding).show();
            $($(understanding).siblings()[0]).show();

            $(faculty).show();
            $($(faculty).siblings()[0]).show();

            $(university).show();
            $($(university).siblings()[0]).show();

            $($(grade).parent()[0]).removeClass('col-md-12').addClass('col-md-6');
        }
    })
</script>
{% endif %}
{% endblock %}