<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chọn ngành | We know We share</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/major.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/major-detail.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/uni-detail.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800" rel="stylesheet">
</head>

<body>

    <div class="narbavIndex">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="./index.html" id="MobileN">
                    <img src="./assets/img/logo.png" width="100px" style="padding: 10px;">
                </a>
            </div>
            <div>
                <div class="navRight">
                    <div id="btnAccount">
                        <a class="liNav" href="./account.html">ĐỖ HỮU NHẬT NGUYÊN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="containerBg">
        <div class="container">
            <!--Title-->
            <div class="row">
                <div class="col-md-3">
                    <button class="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        CHỌN NGÀNH
                    </button>
                </div>
                <div class="col-md-6">
                    <div id="title" style="text-align: center;">Công nghệ thông tin</div>
                </div>
                <div class="col-md-3">
                    <button class="next">
                        CHỌN TRƯỜNG
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>
            <!--Major-->
            <div class="row" style="margin-bottom: 50px;">
                <div class="col-md-4 chooser" style="padding: 5px 0; margin-bottom: -99999px; padding-bottom: 99999px; text-align: center; background-image: url('./assets/img/major/cover.png');">
                </div>
                <div class="col-md-8 majorChooser" style="margin-bottom: -99999px; padding-bottom: 99999px;">
                    <div id="des">
                        <div class="detail-tit">
                            <span class="glyphicon glyphicon-align-left"></span>
                            MÔ TẢ
                        </div>
                        <div class="detail-content">
                            ABC
                        </div>
                    </div>
                    <div id="salary">
                        <div class="detail-tit">
                            <span class="glyphicon glyphicon-usd"></span>
                            MỨC LƯƠNG
                        </div>
                        <div class="detail-content">
                            ABC
                        </div>
                    </div>
                    <div id="demand">
                        <div class="detail-tit">
                            <span class="glyphicon glyphicon-stats"></span>
                            NHU CẦU
                        </div>
                        <div class="detail-content">
                            ABC
                        </div>
                    </div>
                    <div id="recruitment">
                        <div class="detail-tit">
                            <span class="glyphicon glyphicon-screenshot"></span>
                            TUYỂN DỤNG
                        </div>
                        <div class="detail-content">
                            ABC
                        </div>
                    </div>
                    <hr style="margin-top: 0px; opacity: 0.5;">
                    <div id="recruitment">
                        <div class="detail-tit">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            CÁC KHỐI THI
                        </div>
                        <div class="detail-content" style="margin: 10px;">
                            A1, A2
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>